POSTGRES_DB=govagent
POSTGRES_USER=govagent
POSTGRES_PASSWORD=govagent
POSTGRES_HOST=gov_db
POSTGRES_PORT=5432

API_PORT=8000
WEB_PORT=5173
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000

DEFAULT_REGION=us_east