fastapi==0.114.2
uvicorn[standard]==0.30.6
pydantic==2.9.2
psycopg[binary]>=3.2.2,<3.3
sqlalchemy==2.0.35
python-dotenv==1.0.1
prometheus-client==0.20.0
scikit-learn==1.5.2
numpy==2.1.1
pynacl==1.5.0
cryptography==43.0.1
